data/*
!data/output/
!data/output/*.json
data/output/*_raw.json
!data/.gitkeep
parser/target/
pipeline/venv/
pipeline/__pycache__/
*.json
!package.json
!package-lock.json
!data/output/*.json
data/output/*_raw.json
.DS_Store
web/data
